
body {
    margin: 0;
    padding: 0;
}


#edicao-2024 h2 {
  background: #000;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}

#edicao-2025 h2  {
  background: #000;
  color: #fff;
  padding: 60px 20px;
  text-align: center;
}
  

.cat-title {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 32px;
  color: #5fed00;
  border-left: 6px solid #00ff88;
  padding-left: 15px;
}

.edicoes-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 40px 0;
}

.edicoes-menu button {
  background: transparent;
  border: 2px solid #00ff88;
  color: #00ff88;
  padding: 12px 30px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: .3s;
}

.edicoes-menu button:hover {
  background: #00ff88;
  color: #000;
}


.grid-campeao {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  max-width: 900px;        /* truque extra */
  margin: 0 auto;
  gap: 30px;
  
}

.card-campeao {
  background: #0b0b0b;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 0 20px rgba(0, 255, 136, 0.815);
}

.campeao-img {
  width: 100%;
  height: 360px;
  overflow: hidden;
  border-radius: 16px;
  animation: glow 2s infinite alternate;
}

.campeao-img img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ISSO é o segredo */
  object-position: top center; /* centraliza a imagem */
}

.card-campeao h3 {
  color: #00ff88;
  margin: 15px 0 5px;
}

.card-campeao p {
  color: #fff;
  margin-bottom: 15px;
}

@keyframes glow {
  from {
    box-shadow: 0 0 5px #00ff88;
  }
  to {
    box-shadow: 0 0 20px #00ff88, 0 0 40px #00ff88;
  }
}

.edicao {
  padding-bottom: 100px;
}


.subtitulo {
  margin: 40px 0 20px;
  color: #00ff88;
  text-align: center;
  font-size: 24px;
}



/* ajustar duas  imagens de 2024  */



/* DEBUGGING OUTLINE - REMOVE LATER 
  * {
  outline: 1px solid red;
}*/